@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --texto-contraste: #0063A1;
    --fundo-menu: linear-gradient(90deg, #095089 0%, #C2E2FD 100%);
    --losangolo: linear-gradient(to bottom right, #3E7CAF 0%, #1A3449 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, #3E7CAF 0%, #1A3449 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, #3E7CAF 0%, #1A3449 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, #3E7CAF 0%, #1A3449 50%) top right / 50% 50% no-repeat;
    --botao-principal: #0063A1;
    --botao-principal-houver: #489FD5;
    --botão-sub-menu: #FFFFFF;
    --fundo: #D0E8FF;
    --sub-menu: #1A4B72;
    --sombra-texto: 0 4px 4px rgba(0, 0, 0, 0.25); 
    --sombra-button: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    --brilho-texto: 0 0 6px #FFF;
    --brilho-button: 0 0 7px 0 #FFF;
    --texto: #133A59;
}

*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--fundo);
    max-width: auto;
    max-height: auto;
    align-items: center;
}

/*MENU*/
    .menu {
        background: var(--fundo-menu);
        padding: 1.5rem;
        width: auto;
        position: flex;
        top: 0;
        display: flex;
        justify-content: center;
    }

    .menu nav ul {
        list-style: none;
        display:flex;
        gap: 220px;
    }

    .menu button {
        /*fonte*/
        color: var(--botão-sub-menu);
        font-size: 22px;
        font-weight: bold;
        text-shadow: var(--sombra-texto);
        /*fundo*/
        background: var(--botao-principal);
        padding: 7px 28px;
        border-radius: 20px;
        box-shadow: var(--sombra-button) ;
        border-style: none;
        /*hover*/
        transition: all 0.3s;
        cursor: pointer;
    }

    .menu .origin button{
        background: var(--botao-principal-houver);
    }

    .menu button:hover {
        text-shadow: var(--brilho-texto);
        padding: 8px 32px;
    }

/*SUB MENU*/
    .sub_menu {
        background: var(--sub-menu);
        padding: 0.7rem;
        position: flex;
        top: 0;
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .sub_menu button {
        /*fonte*/
        color: var(--sub-menu);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        text-shadow: var(--sombra-texto);
        line-height: normal;
        /*fundo*/
        background-color:   var(--botão-sub-menu);
        border-radius: 15px;
        box-shadow: var(--sombra-button);
        border-style: none;
        width: 165px; 
        height: 46px;
        /*hover*/
        transition: all 0.3s;
        cursor: pointer;
    }

    .sub_menu button:hover {
        text-shadow: 0 0 3px #000;
        width: 170px; 
        height: 47.39px;
    }

    .sub_menu .origin button{
        background: var(--fundo-menu);
        color: var(--botão-sub-menu);
        font-weight: bold;
        cursor: normal;
    }

    .sub_menu .origin button:hover {
        width: 165px; 
        height: 46px;
        text-shadow: var(--sombra-texto);
        cursor: normal;
    }

    .sub_menu nav ul {
        list-style: none;
        display:flex;
        gap: 20px;
    }

    nav ul li {
        display: inline;
    }

/*TIPOS DE FONTE*/
    h1 {
        font-size: 40px;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    h3 {    
        font-size: 22px;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    p {
        color: var(--texto);
    }

    div .title {
        background:var(--losangolo);
        background-clip: text;
        background-size: 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 1rem;
    }

/*CONTEÚDO*/
    .content {
        margin: 50px 70px;
    }

    .content .line {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 28px;
        align-items: center ;
    }

    .content .inline {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    #voltar{
        text-decoration: none;
        color: var(--botão-sub-menu);
    }

    .content .inline .voltar{
        background-color: var(--botao-principal);
        color: var(--botão-sub-menu);
        width: 100px;
        height: 29px;
        padding: 10px;
        border-radius: 10px;
        border-style: none;
        box-shadow: var(--sombra-button);
        text-shadow: var(--sombra-texto);
        display: flex;
        flex-direction: row;
        gap: 7px;
        align-items: center;
        transition: all 0.3s;
        cursor: pointer;
    }

    .content .inline .voltar:hover{
        padding: 15px;
        text-shadow: var(--brilho-texto);
    }

    .content .inline .voltar i{
        color: rgb(231, 60, 60);
    }

    .img img {
        border-radius: 50px;
        box-shadow: var(--sombra-button);
    }

    .img a img {
        transition: all 0.3s;
        cursor: pointer;
        width: 100%;
        height: 100%;
    }

    .img a img:hover {
        width: 101%;
        height: 101%;
    }

    .content .texto {
        margin-bottom: 2rem;
        color: var(--sub-menu);
    }

    .content .texto li{
        list-style: circle;
    }

    .content .texto li a{
        color: var(--sub-menu);
    }

    .content .img{
        margin-bottom: 2rem;
    }

    /*sobre nós (em baixo)*/
/*---------------------------------------------------------------------------------------------------------*/
.button_sobre_nós1 button{
    width: 304px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 10px;
/* sombra */
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.25);
    background:  var(--fundo-menu);
    border-style: none;
    color: #FFF;
    text-align: center;
/* botão menu e botão houver menu(computador) */
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin: 20px;
}
/*seta*/
.img_seta img{
    margin-left: -300px;
    position: relative;
    top: -10px;
}
.img_seta2 img{
    margin-left: -300px;
    position: relative;
    top: -190px;
}
/*fim seta*/
.button_sobre_nós1 button:hover{
    width: 380px;
    height: 80px;
    transition: all 0.3s;

}
.button_sobre_nós2 button{
    width: 346px;
    height: 75px;
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.25);
    background: var(--fundo-menu);
    border-style: none;
    color: #FFF;
    text-align: center;
/* botão menu e botão houver menu(computador) */
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin: 200px;
    margin-top: 70px;
}
.button_sobre_nós2 button:hover{
    width: 390px;
    height: 95px;
    transition: all 0.3s;
}
.escrito1{
    display:block;
    margin-left: 625px;
    margin-top: -50px;
    width: 307px;
    height: 93px;
    color: #3E7CAF;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.escrito2{
    display:block;
    margin-left: 625px;
    margin-top: -235px;
    width: 307px;
    height: 93px;
    color: #3E7CAF;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.titulo_sobre_nos{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.imagem_yasmin{
    border-radius: 10%;
}

.titulo_Turismo_sustentavel{
    text-align: center;
    margin-top: 100px;
}
.escrito3{
    display:block;
    margin-top: 30px;
    margin-left: 120px;
}
.escrito4{
    display:block;
    margin-top: 25px;
    margin-left: 150px;
}
.a4{/*não está dando certo*/
    font-size: 30px;
}
.escrito5{
    display:block;
    margin-top: 30px;
    margin-left: 120px;
}
.escrito6{
    display:block;
    margin-top: 25px;
    margin-left: 150px;
}
.escrito7{
    display:block;
    margin-top: 30px;
    margin-left: 120px;
}
.escrito8{
    display:block;
    margin-top: 25px;
    margin-left: 150px;
}
.button_voltar button{
    display:block;
    width: 100px;
    height: 29px;
    border-radius: 10px;
    background: #3E7CAF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /*background: url(imagens/sobrenos/image\ 2.png) lightgray 50% / cover no-repeat;*/
}
/*---------------------------------------------------------------------------------------------------------*/
/*Yasmin Oliveira(em baixo)*/
/*--------------------------------------------------------------------------------------------------------------------*/
.pagina_pessoal_imagem_yasmin{
    display: flex;
    border-radius: 100px;/*border radius não funciona*/
    margin-top: 10px;
    margin-left: 35px;
}
.bloco_respostas1{
    display: flex;
    margin-left: 350px;
    margin-top: -350px;
    gap:15px;
}
.bloco_respostas2{
    display: flex;
    margin-left: 350px;
    margin-top: 15px;
    gap:15px;
}
.bloco_respostas3{
    display: flex;
    margin-left: 350px;
    margin-top: 20px;
    gap:15px;
}
.bloco_respostas4{
    display: flex;
    margin-left: 350px;
    margin-top: 30px;
    gap:15px;
}
.escudo_nutricao{
    display: flex;
    margin-left: 1100px;
    margin-top: -300px;
}
.moca_academia{
    display: flex;
    margin-left: 1200px;
}
.pergunta5{
    display: flex;
    margin-top: 150px;
    margin-left: 80px
}
.resposta5{
    display: flex;
    margin-top: 5px;
    margin-left: 80px;
    gap: 10px;
}
.pergunta6{
    display: flex;
    margin-top: -185px;
    margin-left: 800px;
}
.resposta6{
    display: flex;
    margin-top: 10px;
    margin-left: 800px;
}
.pergunta7{
    display: flex;
    margin-top: 90px;
    margin-left: 80px;
}
.resposta7{
    display: flex;
    margin-top: 10px;
    margin-left: 80px;
}
.pergunta8{
    display: flex;
    margin-top: -190px;
    margin-left: 800px;
}
.resposta8{
    display: flex;
    margin-top: 10px;
    margin-left: 800px;
}
.Baleia_Yo{
    display: flex;
    margin-top: -300px;
    margin-left: 600px;
}
.projeto_tamar{
    display: flex;
    margin-top: -80px;
    margin-left: 1320px;
}
.cavalo_marinho{
    display: flex;
    margin-left: 600px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*Yasmin Soares(em baixo)*/
/*--------------------------------------------------------------------------------------------------------------------*/
.pagina_pessoal_imagem_yasmim{
    display: flex;
    border-radius: 100px;/*border radius não funciona*/
    margin-top: 10px;
    margin-left: 35px;
}
.bloco_respostas1YS{
    display: flex;
    margin-left: 350px;
    margin-top: -350px;
    gap:15px;
}
.bloco_respostas2YS{
    display: flex;
    margin-left: 350px;
    margin-top: 15px;
    gap:15px;
}
.bloco_respostas3YS{
    display: flex;
    margin-left: 350px;
    margin-top: 20px;
    gap:15px;
}
.bloco_respostas4YS{
    display: flex;
    margin-left: 350px;
    margin-top: 30px;
    gap:15px;
}
.escudo_pedagogia{
    display: flex;
    margin-left: 1100px;
    margin-top: -300px;
}
.crianca{
    display: flex;
    margin-left: 1200px;
}
.pergunta5YS{
    display: flex;
    margin-top: 150px;
    margin-left: 80px
}
.resposta5YS{
    display: flex;
    margin-top: 5px;
    margin-left: 80px;
    gap: 10px;
}
.pergunta6YS{
    display: flex;
    margin-top: -185px;
    margin-left: 800px;
}
.resposta6YS{
    display: flex;
    margin-top: 10px;
    margin-left: 800px;
}
.pergunta7YS{
    display: flex;
    margin-top: 90px;
    margin-left: 80px;
}
.resposta7YS{
    display: flex;
    margin-top: 10px;
    margin-left: 80px;
}
.pergunta8YS{
    display: flex;
    margin-top: -190px;
    margin-left: 800px;
}
.resposta8YS{
    display: flex;
    margin-top: 10px;
    margin-left: 800px;
}
.golfinho{
    display: flex;
    margin-top: -700px;
    margin-left: 600px;
}
.concha{
    display: flex;
    margin-top: 90px;
    margin-left: 1270px;
}
.baleia_Ys{
    display: flex;
    margin-top: 100px;
    margin-left: 600px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*Mariana (a baixo)*/
/*--------------------------------------------------------------------------------------------------------------------*/
.pagina_pessoal_imagem_mariana{
    display: flex;
    border-radius: 100px;/*border radius não funciona*/
    margin-top: 10px;
    margin-left: 35px;
}
.bloco_respostas1M{
    display: flex;
    margin-left: 350px;
    margin-top: -350px;
    gap:15px;
}
.bloco_respostas2M{
    display: flex;
    margin-left: 350px;
    margin-top: 15px;
    gap:15px;
}
.bloco_respostas3M{
    display: flex;
    margin-left: 350px;
    margin-top: 20px;
    gap:15px;
}
.bloco_respostas4M{
    display: flex;
    margin-left: 350px;
    margin-top: 30px;
    gap:15px;
}
.calculadora{
    display: flex;
    margin-left: 1100px;
    margin-top: -300px;
}
.escudo_contabilidade{
    display: flex;
    margin-left: 1225px;
    margin-top: 0px;
}
.pergunta5M{
    display: flex;
    margin-top: 150px;
    margin-left: 80px
}
.resposta5M{
    display: flex;
    margin-top: 5px;
    margin-left: 80px;
    gap: 10px;
}
.pergunta6M{
    display: flex;
    margin-top: -185px;
    margin-left: 800px;
}
.resposta6M{
    display: flex;
    margin-top: 10px;
    margin-left: 800px;
}
.pergunta7M{
    display: flex;
    margin-top: 90px;
    margin-left: 80px;
}
.resposta7M{
    display: flex;
    margin-top: 10px;
    margin-left: 80px;
}
.pergunta8M{
    display: flex;
    margin-top: -190px;
    margin-left: 800px;
}
.resposta8M{
    display: flex;
    margin-top: 10px;
    margin-left: 800px;
}
.peixinho_dourado{
    display: flex;
    margin-top: -550px;
    margin-left: 550px;
}
.tartaruga_verde{
    display: flex;
    margin-top: 40px;
    margin-left: 1200px;
}
.baleia_M{
    display: flex;
    margin-top: 100px;
    margin-left: 600px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*Lais(a baixo)*/
/*--------------------------------------------------------------------------------------------------------------------*/
.pagina_pessoal_imagem_lais{
    display: flex;
    border-radius: 100px;/*border radius não funciona*/
    margin-top: 10px;
    margin-left: 35px;
}
.bloco_respostas1L{
    display: flex;
    margin-left: 350px;
    margin-top: -350px;
    gap:15px;
}
.bloco_respostas2L{
    display: flex;
    margin-left: 350px;
    margin-top: 15px;
    gap:15px;
}
.bloco_respostas3L{
    display: flex;
    margin-left: 350px;
    margin-top: 20px;
    gap:15px;
}
.bloco_respostas4L{
    display: flex;
    margin-left: 350px;
    margin-top: 30px;
    gap:15px;
}
.escudo_educacao_fisica{
    display: flex;
    margin-left: 1100px;
    margin-top: -300px;
}
.maos{
    display: flex;
    margin-left: 1225px;
    margin-top: 0px;
}
.pergunta5L{
    display: flex;
    margin-top: -10px;
    margin-left: 80px
}
.resposta5L{
    display: flex;
    margin-top: 5px;
    margin-left: 80px;
    gap: 10px;
}
.pergunta6L{
    display: flex;
    margin-top: -185px;
    margin-left: 800px;
}
.resposta6L{
    display: flex;
    margin-top: 10px;
    margin-left: 800px;
}
.pergunta7L{
    display: flex;
    margin-top: 90px;
    margin-left: 80px;
}
.resposta7L{
    display: flex;
    margin-top: 10px;
    margin-left: 80px;
}
.pergunta8L{
    display: flex;
    margin-top: -190px;
    margin-left: 800px;
}
.resposta8L{
    display: flex;
    margin-top: 10px;
    margin-left: 800px;
}
.estrela_do_mar{
    display: flex;
    margin-top: -750px;
    margin-left: 400px;
}
.balei_L{
    display: flex;
    margin-top: 40px;
    margin-left: 625px;
}
.tubarao{
    display: flex;
    margin-top: 100px;
    margin-left: 1225px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*intituições(a baixo)*/
/*--------------------------------------------------------------------------------------------------------------------*/
.titulo_instituicoes{
    display: flex;
    margin-left: 40px;
}
.botao_adicione_instituicoes{/*voltar arrumar*/
    display: flex;
    margin-top: -30px;
    margin-left: 1200px;
    width: 300px;
    height: 59px;
    border-radius: 10px;
    background: var(--Fundo, linear-gradient(90deg, #095089 0%, #C2E2FD 100%));
    /*tipo de letra*/
    color: #FFF;
    text-align: center;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.mapa_intituicoes{
    display: flex;
    margin-left: 200px;
}

/*botoes mapa*/
.botoes_instituicoes .aquasis{
    display: flex;
    margin-top: -540PX;
    margin-left: 980px;
    cursor: pointer;
    z-index: 10;
}

.botoes_instituicoes .tamar_ba{
    display: flex;
    margin-top: 150px;
    margin-left: 1000px;
    cursor: pointer;
    z-index: 10;
}
.botoes_instituicoes .baleia_jubarte{
    display: flex;
    margin-top: 60px;
    margin-left: 980px;
    cursor: pointer;
    z-index: 10;
}
.botoes_instituicoes .albatroz{
    display: flex;
    margin-top: 70px;
    margin-left: 930px;
    cursor: pointer;
    z-index: 10;
}
.botoes_instituicoes .argonauta{
    display: flex;
    margin-top: -13px;
    margin-left: 880px;
    cursor: pointer;
    z-index: 10;
}
.botoes_instituicoes .tamar_sp{
    display: flex;
    margin-top: -10px;
    margin-left: 855px;
    cursor: pointer;
    z-index: 10;
}
/*tamar*/
.descricao_intituicoes_tamar{
    display: flex;
    margin-top: 200px;
    margin-left: 80px;
}
.imagem-tamar{
    display: flex;
    margin-top: 10px;
    margin-left: 400px;
}
.descricao_intituicoes_tamar1{
    display: flex;
    margin-top: -400px;
    margin-left: 100px;
}
.escrito_intituicoes_tamar1{
    display: flex;
    margin-top: 10px;
    margin-left: 50px;
}
.descricao_intituicoes_tamar2{
    display: flex;
    margin-top: -325px;
    margin-left: 1200px;
}
.escrito_intituicoes_tamar2{
    display: flex;
    margin-top: 0px;
    margin-left: 1150px;
}
.descricao_intituicoes_tamar3{
    display: flex;
    margin-top: 40px;
    margin-left: 650px;
}
.escrito_intituicoes_tamar3{
    display: flex;
    margin-top: 40px;
    margin-left: 200px;
}
.button_voltar{
    display: flex;
    margin-top: 50px;
    margin-left: 1200px;

}
/*argonauta*/
.descricao_intituto_argonauta{
    display: flex;
    margin-top: 20px;
    margin-left: 80px;
}
.imagem-argonauta1{
    display: flex;
    margin-top: 20px;
    margin-left: 800px;
}
.imagem-argonauta2{
    display: flex;
    margin-top: 30px;
    margin-left: 60px;
}
.descricao_intituto_argonauta1{
    display: flex;
    margin-top: -800px;
    margin-left: 110px;
}
.escrito_intituto_argonauta1{
    display: flex;
    margin-top: 10px;
    margin-left: 80px;
}
.descricao_intituto_argonauta2{
    display: flex;
    margin-top: 50px;
    margin-left: 110px;
}
.escrito_intituto_argonauta2{
    display: flex;
    margin-top: 10px;
    margin-left: 80px;
}
.descricao_intituto_argonauta3{
    display: flex;
    margin-top: 80px;
    margin-left: 1040px;
}
.escrito_intituto_argonauta3{
    display: flex;
    margin-top: 10px;
    margin-left: 900px;
}
/*albatroz*/
.descricao_intituto_albatroz{
    display: flex;
    margin-top: 50px;
    margin-left: 80px;
}
.imagem-albatroz{
    display: flex;
    margin-top: 30px;
    margin-left: 60px;
}
.descricao_intituto_albatroz1{
    display: flex;
    margin-top: -450px;
    margin-left: 900px;
}
.escrito_intituto_albatroz1{
    display: flex;
    margin-top: 20px;
    margin-left: 800px;
}
.descricao_intituto_albatroz2{
    display: flex;
    margin-top: 20px;
    margin-left: 950px;
}
.escrito_intituto_albatroz2{
    display: flex;
    margin-top: 20px;
    margin-left: 800px;
}
.descricao_intituto_albatroz3{
    display: flex;
    margin-top: 50px;
    margin-left: 600px;
}
.escrito_intituto_albatroz3{
    display: flex;
    margin-top: 30px;
    margin-left: 80px;
}
/*aquasis*/
.descricao_intituto_aquasis{
    display: flex;
    margin-top: 50px;
    margin-left: 80px;
}
.imagem-aquasis1{
    display: flex;
    margin-top: 30px;
    margin-left: 900px;
}
.imagem-aquasis2{
    display: flex;
    margin-top: 10px;
    margin-left: 60px;
}
.descricao_intituto_aquasis1{
    display: flex;
    margin-top: -750px;
    margin-left: 120px;
}
.escrito_intituto_aquasis1{
    display: flex;
    margin-top: 10px;
    margin-left: 100px;
}
.descricao_intituto_aquasis2{
    display: flex;
    margin-top: -325px;
    margin-left: 550px;
}
.escrito_intituto_aquasis2{
    display: flex;
    margin-top: 10px;
    margin-left: 500px;
}
.descricao_intituto_aquasis3{
    display: flex;
    margin-top: 100px;
    margin-left: 1000px;
}
.escrito_intituto_aquasis3{
    display: flex;
    margin-top: 10px;
    margin-left: 800px;
}
/*balei jubarte*/
.descricao_intituto_baleia_jubarte{
    display: flex;
    margin-top: 50px;
    margin-left: 80px;
}
.descricao_intituto_baleia_jubarte1{
    display: flex;
    margin-top: 20px;
    margin-left: 100px;
}
.escrito_intituto_baleia_jubarte1{
    display: flex;
    margin-top: 10px;
    margin-left: 90px;
}
.descricao_intituto_baleia_jubarte2{
    display: flex;
    margin-top: -365px;
    margin-left: 600px;
}
.escrito_intituto_baleia_jubarte2{
    display: flex;
    margin-top: 10px;
    margin-left: 550px;
}
.descricao_intituto_baleia_jubarte3{
    display: flex;
    margin-top: -368px;
    margin-left: 1100px;
}
.escrito_intituto_baleia_jubarte3{
    display: flex;
    margin-top: 10px;
    margin-left: 1050px;
}
.imagem-baleia_jubarte1{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
}
.imagem-baleia_jubarte2{
    display: flex;
    margin-top: -259px;
    margin-left: 550px;
}
.imagem-baleia_jubarte3{
    display: flex;
    margin-top: -259px;
    margin-left: 1050px;
}
/*adicione sua instituicao*/
.titulo_pagina_adicione_instituicao{
    display: flex;
    margin-top: 0px;
    margin-left: 500px;
}
/*socorro*/

/*--------------------------------------------------------------------------------------------------------------------*/



/*RODAPÉ*/
    footer {
        width: auto;
        color: var(--fundo);
    }

    /*Organização e fundo do rodapé*/
        #footer_content {
            background: url(imagens/footer/fundo\ do\ rodapé.png);
            background-size: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 90px;
            padding: 3rem  7rem;
        }

        #footer_title {
            justify-items: center;
            margin-top: 25px;
        }

    /*Siga nos*/
        #footer_social_media h3 {
            margin-bottom: 0.1rem;
        }

        #footer_social_media {
            display: flex;
            gap: 1rem;
            margin-top: 1rem;
        }

        /*icones*/
            #footer_social_media .footer-link i {
                font-size: 30px;
            } 

    /*links do footer*/
        .footer-link {
            text-decoration: none;
        }

        #footer_social_media .footer-link { 
            display: flex;
            align-items: center;
            justify-content: center;
            height: 53px;
            width: 53px;
            color: var(--fundo);
            border-radius: 50%;
            transition: all 0.4s;
        }

        #footer_social_media .footer-link:hover {
            box-shadow: 0 0 7px 0 #FFF;
            width: 57px;
            height: 57px;
        }

        #instagram {
            background: var(--losangolo);
        }

        #facebook {
            background: var(--losangolo);
        }

        #email {
            background: var(--losangolo);
        }

        #titlerodape {
            padding-bottom: 1.5rem;
            text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            list-style: none;
        }

        .footer_list {
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
            text-decoration: none;
            list-style-type:circle;
        }

        .footer_list .footer-link {
            color: var(--botão-sub-menu); 
            transition: all 0.4s;
            text-decoration: none;
        }

        .footer_list .footer-link:hover {
            text-shadow: 0 0 6px #FFF;
        }

        #footer_closed_captioning  {
            display: flex;
            justify-content: center;
            background-color: var(--sub-menu);
            gap: 900px; 
        }

        #politica_privacidade {
            color: var(--fundo);
        }
